#################
## DNN fr-FR.resx translations from a working site
#################

# Forget all files
*

# Except the following
!.github/*
!.gitattributes
!.gitignore
!.editorconfig
!readme.md
!.gitkeep
!*/

# Don't forget  the language pack manifest and elements
!Resources/DNNCE_fr-FR.dnn

# Don't forget the release notes
!Resources/ReleaseNotes.txt

# Don't forget the license`
!Resources/license.txt
